@model List<CRUDApp.Models.Employee>

<div class="row">
    <div class="col-md-11">
        <a asp-action="Create" asp-controller="Employees" class="btn btn-success">Tambah</a>
    </div>
    @* <div class="col-md-1">
        <a asp-action="Report" asp-controller="Employees" class="btn btn-info">Cetak</a>
    </div> *@
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Nama</td>
                    <td>Posisi</td>
                    <td>Divisi</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Position</td>
                        <td>@item.Division</td>
                        <td>
                            <a class="btn btn-sm btn-warning" asp-action="Edit" asp-controller="Employees" asp-route-id="@item.Id">Ubah</a>
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Employees" asp-route-id="@item.Id">Hapus</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>